body {
  padding: 5%;
  background-color: #f9f1f0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-align: center;
  color: #9ea5c5;
  margin: 12 px;
  padding: 15px;
  border: solid 10px #9ecec7;
}

h2 {
  text-align: left;
  color: black;
}

.about-me {
  margin: 12 px;
  border: solid 10px #9ecec7;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.about-me h3 {
  font-style: italic;
}

img {
  width: 300px;
  height: 300px;
  border: solid 10px #9ea5c5;
  float: center;
}

.job-title {
  background-color: #9ea5c5;
  font-size: larger;
  font-weight: 700;
  font-variant: small-caps;
}

.column {  
  width: 20%;
  float: left;
  padding: 15px; 
}

a {
  color: #9ea5c5;
}
