body {
  padding: 5%;
  background-color: lightcyan;
}


h1 {
  text-align: center;
  color: palevioletred;
  margin: 12 px;
  padding: 15px;
  background-color: wheat;
}

h2 {
  text-align: left;
  color: black;
  padding-bottom: 15px;
}

h3 {
  padding-top: 10px;
}

.column {  
  width: 20%;
  float: none;
  padding: 5px;
}

.about-me {
  margin: 12 px;
  border: solid 10px goldenrod;
  padding: 15px;
  padding-bottom: 5px;
  background-color: gray;
}

img {
  width: 300px;
  height: 300px;
  margin: 12 px;
  border: solid 0px;
  padding: 15px;
  background-color: wheat;
  float: right;
}

.photo {
  margin: 12 px;
  border: solid 0px;
  padding: 15px;
  background-color: wheat;
}

a {
  color: palevioletred;
}